---
// Stylesheet import
import "../styles/global.css";

// Component imports
import MainHead from "./MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

const {title = "My Blog", description = "Stuff about stuff"} = Astro.props;
---

<html lang="en">
  <MainHead {title} {description} />

  <body>
    <Nav />
    <main>
      <slot />
    </main>
    <Footer />
  </body></html
>
