---
// component imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" description="My About Page">
  <section class="container about" aria-label="about me">
    <img src="/images/headshot.jpg" alt="my headshot" width="200" height="330" />
    <div class="content">
      <h1 class="h1">My Blog</h1>
      <p
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis necessitatibus maiores enim dolores? Eius et mollitia unde fuga, iure eveniet esse, earum quam incidunt perspiciatis quia accusamus cupiditate nam numquam animi a nobis sed id
        quos voluptatibus dignissimos impedit non?</p
      >
    </div>
  </section>
</MainLayout>
